<style>
 .call-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.call-message {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
}

.call-name {
  color: #007bff;
}

.call-audio {
  margin-top: 20px;
}
</style>

<div class="call-container">
  <p class="call-message">Ordering a pizza for <span class="call-name">{{name}}</span>.</p>
  <audio id="audio-element" type="audio/x-mulaw"></audio>
  <button id="start-stream" class="btn btn-primary">Start Audio Stream</button>
</div>

<script>

// const audio = new Audio();
var audio = document.querySelector("#audio-element");


document.getElementById('start-stream').addEventListener('click', function() {

  const socket = new WebSocket('ws://localhost:3000/audio_stream');
  socket.addEventListener('message', function(event) {
    console.log(event.data)
    
    audio.src = "data:audio/x-mulaw;base64," + event.data;
    audio.play();
    
  });


});
</script>