<div class="container">
  <form action="/call" method="POST">
    <div class="form-group">
      <label for="phoneNumber">Phone number</label>
      <input type="tel" id="phoneNumber" name="phoneNumber" placeholder="(555) 555 5555" value="555 555 5555" class="form-control" required>
    </div>
    
    <div class="form-group">
      <label for="purpose">Call purpose</label>
      <textarea id="purpose" name="purpose" class="form-control" required rows="3"placeholder="Enter your call purpose here">Order a large pepperoni pizza</textarea>
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>